
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: bisque;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.news-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.article {
    margin-bottom: 30px;
}

.article h2 {
    font-size: 24px;
}

.article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.article p {
    color: #666;
}

.article a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: blue;
    border-top: 1px solid #ddd;
}
.az{
    width:800px;
    height:500px;
    border-radius: 14px;
    align-items: center;
    display: flex;
}